.app {
  color: aliceblue;
  min-height: 100vh;
  background-color: #1f2f1b;
  margin-bottom: 30px;
}

.app__content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 15px;
}