
.sidebar{
    width: 400px;
    height: 100%;
    color: black;
    background:#92a792;
    padding: 10px;
}

.sidebar__title{
    padding: 15px;
}

.sidebar__alignment{
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.sidebar__alignment div{
    padding: 3px;
    padding-left: 10px;
    vertical-align: middle;
}

.sidebar p{
    font-size: 14px;
    margin: 0;
    padding: 5px;
    cursor: pointer;
}
.sidebar p:hover{
    background: rgb(160, 160, 160);
}

.selected{
    background: rgb(121, 115, 115);
}
